{
  "singleQuote": true,
  "trailingComma": "es5",
  "printWidth": 80,
  "tabWidth": 2,
  "useTabs": false,
  "overrides": [
    {
      "files": "*.ts",
      "options": {
        "printWidth": 9999
      }
    },
    {
      "files": "*.html",
      "options": {
        "parser": "angular",
        "tabWidth": 2,
        "htmlWhitespaceSensitivity": "ignore",
        "plugins": ["prettier-plugin-tailwindcss"]
      }
    }
  ]
}
